
body {
  background-color:lavenderblush
}

.main-header {
  background-color: white;
}

header {
  border: solid, black;
}

h2 {
  color: rgb(112, 21, 91); 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 35px;
  padding-left: 2%;
  padding-right: 8%;
  padding-bottom: 3%;
  display: inline;
}

p {
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 55px;
  font-variant: small-caps;
  padding: 3%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 25px;
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  text-decoration-line:underline;
  border: solid black;
  border-width: 5px;
}

h5 {
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 55px;
  font-variant:normal;
  padding: 3%;
}

h3 {
  color: rgb(112, 21, 91);
  font-size: 25px;
  font-family: fantasy;
  font-weight:lighter;
}