
body {
  background-color:lavenderblush
}

h1, h2  {
  color: rgb(124, 39, 164); font-family:fantasy; font-weight: lighter;
}

p, section, {
  color: rgb(9, 0, 10); font-family:fantasy; font-weight:lighter;
}
