
body {
  background-color:lavenderblush
}

.main-header {
  background-color: white;
}

h2 {
  color: rgb(112, 21, 91); 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 35px;
  padding-left: 2%;
  padding-right: 8%;
  padding-bottom: 3%;
  display: inline;
}

.nav-list {
  background-color:lavenderblush
  margin:0;
  padding: 10px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  list-style: none;
  
}

.nav-item{
  margin-right:23px;
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 35px;
  text-decoration: underline;
}

.nav-item a {
  text-decoration:none;
  color:black;
}

.nav-item a:hover{
  color:rgb(112, 21, 91);
}

p {
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 40px;
  font-variant: normal;
  padding: 3%;
}

h5 {
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 55px;
  font-variant:small-caps;
  padding: 3%;
}

li {
  color: black; 
  font-family: fantasy; 
  font-weight: lighter;
  font-size: 45px;
  font-variant: normal;
  padding-left:0.5%;
  list-style:none;
  text-decoration:underline;
}

h3 {
  color: rgb(112, 21, 91);
  font-size: 25px;
  font-family: fantasy;
  font-weight:lighter;
}